* {
  font-family: "Roboto", sans-serif;
/*  font-weight: 500;*/
  font-style: normal;
/*  color: #ba4a00;*/
}

html, body{
	max-width: 100%;
	overflow-x: hidden;
}

/*.container-main{
	display: flex;
}*/

#landing{
	background-color: #f8b041;
/*	background-image: url("bg.jpg");*/
	color: #fdf2e9;
	font-size: 15px;
}


#landing h2, h5{
	color: #9a7d0a;
}

.container-right{
	text-align: center;
	margin-bottom: 20px;
	color: #ba4a00;
/*	background-color: #fdf2e9;*/
}

.container-right h1{
	background-color: #7d6608;
	height: 100px;
	padding-top: 25px;
	color: #fdf2e9;
}


.tools-container {
	display: flex;
	gap:25px;
	justify-content: center;


}
/**/
#tools{
	background-color: #fdf2e9;
	border-bottom: 5px solid #7d6608;
	border-radius: 40px;
}


#projects{
	background-color: #fdf2e9;
	border-bottom: 5px solid #7d6608;
	border-radius: 40px;

}


#projects img{
	height: 500px;
	width: 400px;
}


#contact{
	color: #9a7d0a;
	background-color: #fdf2e9;
	padding-top: 35px;
	border: 5px solid #7d6608;
	border-radius: 40px;
}
