body {
    font-family: Arial, sans-serif;

    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #deb887;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

nav {
    text-align: center;
    background-color: #b8860b;
    padding: 10px;
    text-align: left;
    padding-left: 1px;

}

img {
    height: 300px;
    width: 600px;

}

li {
    list-style-type: none;
    display: inline;

}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;

}

section {
    padding: 20px;
    margin: 10px 0;
}

#about {
    margin-bottom: 20px;
}

footer {
    text-align: center;
    padding: 1em 0;
    background-color: #deb887;
    color: white;
}